[submodule "extern/SCTL"]
	path = extern/SCTL
	url = https://github.com/dmalhotra/SCTL.git
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/nanobench"]
	path = extern/nanobench
	url = https://github.com/martinus/nanobench.git
[submodule "extern/doctest"]
	path = extern/doctest
	url = https://github.com/doctest/doctest.git
